/* Modifiers */
.d-flex {
  display: flex !important;
}
.d-block {
  display: block !important;
}
.align-center {
  align-items: center !important;
}
.justify-space-between {
  justify-content: space-between !important;
}
.justify-center {
  justify-content: center !important;
}
.justify-end {
  justify-content: flex-end !important;
}

/* margin/padding */
.mb-small1 {
  margin-bottom: $small1 !important;
}
.mb-normal {
  margin-bottom: $normal !important;
}
.mb-large1 {
  margin-bottom: $large1 !important;
}
.mb-large2 {
  margin-bottom: $large2 !important;
}
.mb-large3 {
  margin-bottom: $large3 !important;
}
.mt-small1 {
  margin-top: $small1 !important;
}
.mt-normal {
  margin-top: $normal !important;
}
.mt-large1 {
  margin-top: $large1 !important;
}
.mt-large2 {
  margin-top: $large2 !important;
}
.mt-large3 {
  margin-top: $large3 !important;
}
.ml-small1 {
  margin-left: $small1 !important;
}
.ml-normal {
  margin-left: $normal !important;
}
.ml-large1 {
  margin-left: $large1 !important;
}
.ml-large2 {
  margin-left: $large2 !important;
}
.ml-large3 {
  margin-left: $large3 !important;
}
.pr-small1 {
  padding-right: $small1 !important;
}
.pr-normal {
  padding-right: $normal !important;
}
.pr-large1 {
  padding-right: $large1 !important;
}
.pr-large2 {
  padding-right: $large2 !important;
}
.pr-large3 {
  padding-right: $large3 !important;
}
.pb-small1 {
  padding-bottom: $small1 !important;
}
.pb-normal {
  padding-bottom: $normal !important;
}
.pb-large1 {
  padding-bottom: $large1 !important;
}
.pb-large2 {
  padding-bottom: $large2 !important;
}
.pb-large3 {
  padding-bottom: $large3 !important;
}
.pt-small1 {
  padding-top: $small1 !important;
}
.pt-normal {
  padding-top: $normal !important;
}
.pt-large1 {
  padding-top: $large1 !important;
}
.pt-large2 {
  padding-top: $large2 !important;
}
.pt-large3 {
  padding-top: $large3 !important;
}
.pl-small1 {
  padding-left: $small1 !important;
}
.pl-normal {
  padding-left: $normal !important;
}
.pl-large1 {
  padding-left: $large1 !important;
}
.pl-large2 {
  padding-left: $large2 !important;
}
.pl-large3 {
  padding-left: $large3 !important;
}
.pr-small1 {
  padding-right: $small1 !important;
}
.pr-normal {
  padding-right: $normal !important;
}
.pr-large1 {
  padding-right: $large1 !important;
}
.pr-large2 {
  padding-right: $large2 !important;
}
.pr-large3 {
  padding-right: $large3 !important;
}
